<% require './course' %>

<%= breadcrumbs('About the Instructor') %>

<div style="clear: both;"/>
<img src="https://d396qusza40orc.cloudfront.net/sequence/images/me.jpg" style="float: left; margin-right: 20pt; margin-bottom: 20pt;">
<p>Jim Fowler is a mathematician at <a href="http://www.math.osu.edu/">The Ohio State University</a>. His research interests broadly include geometry and <a href="https://en.wikipedia.org/wiki/Topology">topology</a>, and more specifically, his interests focus on the topology of high-dimensional <a href="http://en.wikipedia.org/wiki/Manifold">manifolds</a> and <a href="http://en.wikipedia.org/wiki/Geometric_group_theory">geometric group theory</a>, which means he gets to think about highly symmetric (and therefore very beautiful) geometric objects.  He's particularly fond of using computational techniques to attack problems in pure mathematics.</p>
<p>Prior to working at <a href="http://www.math.osu.edu/">OSU</a>, he received an undergraduate degree from <a href="http://www.harvard.edu/">Harvard University</a> and received a Ph.D. from the <a href="http://www.uchicago.edu/">University of Chicago</a>.</p>
<p>You can read more about Jim at <a href="http://kisonecat.com/">kisonecat.com</a>.</p>
<div style="clear: both;"/>
<ul>
<li style="display: inline; padding-right: 20pt;"><a href="https://twitter.com/kisonecat"><i class="icon-twitter"/>&nbsp;Twitter</a></li>
<li style="display: inline; padding-right: 20pt;"><a href="http://www.youtube.com/kisonecat"><i class="icon-youtube"/>&nbsp;YouTube</a></li>
<li style="display: inline; padding-right: 20pt;"><a href="https://www.facebook.com/kisonecat"><i class="icon-facebook-sign"/>&nbsp;Facebook</a></li>
<li style="display: inline; padding-right: 20pt;"><a href="https://plus.google.com/116216190446738539368"><i class="icon-google-plus"/>&nbsp;Google Plus</a></li>
<li style="display: inline; padding-right: 20pt;"><a href="https://github.com/kisonecat"><i class="icon-github-alt"/>&nbsp;GitHub</a></li>
<li style="display: inline; padding-right: 20pt;"><a href="http://www.weibo.com/u/3696948727"><i class="icon-weibo"/>&nbsp;Weibo</a></li>
<li style="display: inline; padding-right: 20pt;"><a href="mailto:fowler@math.osu.edu"><i class="icon-envelope-alt"/>&nbsp;Email</a></li>
<li style="display: inline; padding-right: 20pt;"><a href="http://arxiv.org/find/math/1/au:+Fowler_J/0/1/0/all/0/1"><i class="icon-file-alt"/>&nbsp;arXiv</a></li>
</ul>


