<% require './course' %>

<%= breadcrumbs('Getting Started') %>

<h1>Welcome to Sequences and Series</h1>

<p>Please also run through the items in the <a href="http://support.coursera.org/customer/portal/articles/549662"><strong>preparation checklist</strong></a>.  We're excited to see your course go live!</p>
