<% require './course' %>

<%= breadcrumbs('Textbook') %>

<a style="float: right; width: 50%; margin-left: 12pt;" class="thumbnail" href="https://d396qusza40orc.cloudfront.net/sequence%2Ftextbook%2Fsequences-and-series.pdf">
<img src="https://d396qusza40orc.cloudfront.net/sequence%2Ftextbook%2Fsequences-and-series.png"/></a>

<h3>Reading the textbook</h3>
<p>Reading mathematics is <strong>not</strong> the same as reading a novel&mdash;it's
more fun, and more interactive!  To read mathematics you need
<ul>
<li>a pen,</li>
<li>plenty of blank paper, and</li>
<li>the courage to write down everything&mdash;even &ldquo;obvious&rdquo; things.
</ul>
As you read a math book, you work along with me, the author, trying to
anticipate my next thoughts, repeating many of the same calculations I
did to write this book.  You must <strong>write</strong> down each expression,
<strong>sketch</strong> each graph, and constantly <strong>think</strong> about what
you are doing.  You should work examples.  You should fill-in the
details I left out.  This is not an easy task; it is <strong>hard</strong>
work, but, work that is, I very much hope, rewarding in the end.</p>

<p>Mathematics is not a passive endeavor.  I may call you a &ldquo;reader&rdquo;
but you are not reading; you are writing this book for yourself.<span style="margin-left: 12pt; float: right;">&mdash;the so-called
&ldquo;author&rdquo;</span></p>

<p><a href="https://d396qusza40orc.cloudfront.net/sequence%2Ftextbook%2Fsequences-and-series.pdf" class="btn btn-large btn-primary" type="button"><i class="icon-download-alt"></i> Download the textbook</a></p>
<p><a href="https://d396qusza40orc.cloudfront.net/sequence%2Ftextbook%2Fsequences-and-series-print.pdf" class="btn btn-info" type="button"><i class="icon-print"></i> Download with a white background</a></p>

<div style="clear: both;"/>

<hr>
<h3>Discuss topics from the textbook</h3>
<p>Reading the textbook means engaging with the text, and a great way to do that is to <a href="https://class.coursera.org/sequence-001/forum/list?forum_id=10051"><i class="icon-comments"></i>&nbsp;discuss what you are reading in the course forum</a>.</p>

<hr>
<h3>Errors in the textbook?</h3>
<p>The textbook is available for anyone to edit on <a href="https://github.com/kisonecat/sequences-and-series/tree/master/textbook"><i class="icon-github-alt"/>&nbsp;GitHub</a>.  If you find errors in the textbook, please feel free to <a href="https://github.com/kisonecat/sequences-and-series/issues">raise an &ldquo;issue&rdquo; on GitHub</a> or <a href="https://class.coursera.org/sequence-001/forum/list?forum_id=10000"><i class="icon-comments"></i>&nbsp;post to the Course Materials Errors forum on Coursera</a>.</p>
