<% require './course' %>

<%= week_title( 1, "Sequences" ) %>

<p id="week-summary">In this first week, we introduce the first topic of study: sequences.</p>

<h4>What is a sequence?</h4>

<h4>By the end of the week&hellip;</h4>



<%= week_pager(1) %>
