<% require './course' %>

<%= week_title( 3, "Convergence tests" ) %>

<p id="week-summary">In this third week, we study various convergence tests to determine whether or not a series converges.</p>

<p>Material for week three will be posted around 10:00am Eastern on <%= WEEK_STARTS[2].strftime('%B %e, %Y').strip %>.</p>

<%= week_pager(3) %>
