<% require './course' %>

<%= week_title( 5, "Power series" ) %>

<p id="week-summary">In this fifth week, we study power series.</p>

<p>Material for week five will be posted around 10:00am Eastern on <%= WEEK_STARTS[4].strftime('%B %e, %Y').strip %>.  This will be a particularly exciting week, since we will be able to think about both functions and series.</p>

<%= week_pager(5) %>
