<% require './course' %>

<%= week_title( 3, "Convergence tests" ) %>

<p id="week-summary">In this third week, we study various convergence tests to determine whether or not a series converges.</p>

<%= week_pager(3) %>
