<% require './course' %>

<%= week_title( 6, "Taylor series" ) %>

<p id="week-summary">In this last week, we study Taylor series.</p>

<p>Taylor series are remarkably powerful, and are certainly a worthy goal of our time together.  Material for this last week will be posted around 10:00am Eastern on <%= WEEK_STARTS[5].strftime('%B %e, %Y').strip %>.  Then on <%= WEEK_ENDS[5].strftime('%B %e, %Y').strip %> we will have our final exam.</p>

<%= week_pager(6) %>

