<% require './course' %>

<%= week_title( 4, "Alternating series" ) %>

<p id="week-summary">In this fourth week, we study alternating series.</p>

<p>Material for week four will be posted around 10:00am Eastern on <%= WEEK_STARTS[3].strftime('%B %e, %Y').strip %>.</p>

<%= week_pager(4) %>
