<% require './course' %>

<%= week_title( 2, "Series" ) %>

<p id="week-summary">In this second week, we introduce the second main topic of study: series.</p>

<h4>What is a sequence?</h4>

<%= week_pager(2) %>
